Django == 3.2.5
    # via Django
mysqlclient >= 1.4
    # via https://docs.djangoproject.com/en/3.2/ref/databases/#mysql-db-api-drivers
djangorestframework == 3.13.1
PyYAML >= 5.1
uritemplate >= 3.0.0
Markdown >= 3.0.0
Pygments >= 2.4.0
django-filter >= 1.0.1
django-guardian >= 1.1.1
    # via https://www.django-rest-framework.org/#requirements
djangorestframework-simplejwt >= 5.1.0
    # https://www.django-rest-framework.org/api-guide/authentication/#json-web-token-authentication
drf-spectacular >= 0.22.0
    # https://drf-spectacular.readthedocs.io/en/latest/index.html#
dj-rest-auth >= 2.2.3
    # https://github.com/iMerica/dj-rest-auth
celery ~= 5.2.3
redis ~= 4.2.0
    # https://docs.celeryq.dev/en/stable/
fabric >= 2.7
    # https://docs.fabfile.org/en/stable/
djangorestframework-yaml ~= 2.0.0
    # https://www.django-rest-framework.org/api-guide/renderers/#third-party-packages